*{
    /*border: 2px solid red;*/
}
body{
    margin: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
}
p{
    font-size: 50px;
}
header{
    height: 200px;
    width: auto;
    margin: 30px;
    background-color: rgb(206, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 5px;
}
header > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: #cae1e5;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.seçenekler{
    height: 50px;
    margin: 30px;
    background-color: #cae1e5;
    display: flex;
    justify-content: center;
    flex-basis: auto;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.black{
    height: 30px;
    display: flex;
    flex-basis: 50px;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container {
    display: flex; 
    justify-content:center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    background-color: rgb(242, 242, 242);
    margin: 10px;
    border-radius: 5px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    
}
img{
    width: 200px;
    height: auto;
}
.box1 {
    display: flex;
    align-content: space-between;
    margin: 20px;
    width: 200px;
    height: auto;
    border: 2px solid #e90303;
    align-items: flex-start;
    border-radius: 10px;
    overflow: hidden;
}

.box1:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}